/* Global Style*/
*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

:root{
  --background-color:rgb(16, 16, 16);
  --primary-color : rgb(235, 0, 0);
  --secondary-color: rgb(250, 250, 250);
  --third-color: #292c2f ;
}

html, body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  background-color: var(--background-color); 
}

a {
  text-decoration: none !important;
  color: var(--secondary-color);
}

a:hover {
	color: var(--primary-color);
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: var(--secondary-color);
}


p {
  font-size: 14px;
  line-height: 25px;
  color: var(--secondary-color);
}

img {
  width: 100%;
  overflow: hidden;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

::selection {
  background:var(--primary-color);
  color:  var(--third-color);
}

::-moz-selection {
  background:var(--primary-color);
  color:  var(--primary-color);
}

.content__container {
  padding: 10px 20px;
}



.main-button-red a:hover {
  opacity: 0.8;
  box-shadow: 0px 0px 15px var(--primary-color);
}

/* Header Style*/

.header-area {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 100;
}

.header-area .main-nav {
  min-height: 80px;
}

.header-area .main-nav .logo {
  float: left;
  display: flex;
  margin-top: 25px;
  margin-left: 30px;
  position: relative;
  z-index: 999;
}

.header-area .main-nav .logo img {
  width: 120px;
}

.background-header .main-nav .logo {
  line-height: 75px;
}

.background-header .nav {
  margin-top: 20px !important;
}

.header-area .main-nav .nav {
  float: right;
  display: flex;
  margin-top: 20px;
  margin-right: 40px;
  position: relative;
  z-index: 999;
}


.header-area .main-nav .nav li {
  padding: 8px;
  padding-left: 15px;
  padding-right: 20px;
}


/*Banner Style*/

.main-banner {
  color : var(--secondary-color);
  position: relative;
  max-height: 100%;
  overflow: hidden;
  padding: 120px;
  text-align: center;
}



/* Movie Section */
.movieSection {
  margin-bottom: 30px;
  display: block;
  padding: 20px;
}

.movieSection__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  margin-bottom: 20px;
}



.movieSection__head .title {
  font-size: 24px;
  position: relative;
  padding-left: 0px;
  margin-bottom: 20px; 
}



/* Movie Card */
.movie__container {
  position: relative;
  height: 100%;
  width: 100%;
}

.movieContainer__card {
  display: flex;
  position: relative;
  gap: 20px;
  min-width: 100%;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  margin-left: 30px;
}

.movieContainer__card::-webkit-scrollbar {
  display: none;
}

.movie__card {
  display: flex;
  color:  var(--secondary-color);
  background-color: rgb(38, 38, 38);
  min-width: 200px;
  max-width: 200px;
  flex-direction: column;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  scroll-snap-align: center;

  
}

.movie__card .image {
  height: auto;
}

.movie__card .card__details {
  width: 100%;
  padding: 10px;
}

.card__details .rating {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 3px;
  
}

.card__details .rating .star {
  color:yellow;
}

.card__details .title {
  font-size: 16px;
  text-align: left;
  display: -webkit-box;
  max-height: 50px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.625;
}

.movie__card:hover > .to__detail {
  display: flex;
}

.movie__card .to__detail {
  background-color: rgba(0, 0, 0, 0.493);
  position: absolute;
  top: 0;
  left: 0px;
  height: 100%;
  width: 100%;
  display: none;
}

/* !Movie Card */

.movie__container .scroll__button {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
}

.movie__container .scroll__button .prev,
.movie__container .scroll__button .next {
  
  border-radius: 100%;
  display: flex;
  align-items: center;
  width: fit-content;
  background-color: rgba(155, 152, 152, 0.645) ;
  position: absolute;
  z-index: 30;
  position: absolute;
  top: 30%;
  padding: 15px;
  cursor: pointer;
}

.movie__container .scroll__button .prev {
  left: 0;
}

.movie__container .scroll__button .next {
  right: 0;
}

.hide {
  display: none !important;
}

/* Detail Page */
#detailSection {
  max-width: none;
  padding-top: 80px;
  color: white;
}

.detail__container {
  display: flex;
  gap: 40px;
  align-items: center;
  max-width: 1280px;
  margin: auto;
  padding: 20px 40px;
}

@media screen and (max-width: 768px) {
  .detail__container {
      flex-direction: column;
  }
}


.detail__container .poster {
  position: relative;
  display: block;
  width: 300px;
}

.poster__container {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.detail__container .poster img {
  width: 300px;
}


.detail__container .poster .layer i {
  font-size: 42px;
  color: #b1b1b1;
}

.detail__container .poster__container:hover > img {
  width: 300px;
}

.detail__container .poster__container:hover > .layer {
  display: flex;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header__title {
  margin-bottom: 5px;
}

.header__info {
  font-size: 14px;
}

.header__title .title {
  font-size: 36px;
  font-weight: bolder;
}

.header__title .year {
  font-size: 30px;
  font-weight: 700px;
}

.details .tagline p {
  font-style: italic;
  font-weight: 400;
  color: #c4c3bf;
}


.overview h3 {
  margin-bottom: 12px;
}

.overview p {
  line-height: 1.5em;
}

.details .rating i {
  color: #f5c518;
}

.details .rating span {
  font-weight: bold;
}

/* footer */

.footer-distributed {
  background-color: var(--third-color);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  padding: 45px 80px;
  margin-top: 50px;
}

.footer-distributed .footer-left a img{
  width: 50%;
}


.footer-distributed .footer-left {
  display : flex;

}

.footer-distributed .footer-left .footerhide {
  margin-left: -80px;

}

.footer-distributed .footer-left p {
  font-size: 20px;
}


.footer-distributed .footer-right {
  float: right;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
}



